body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=send] {
  background-color: #6ab04c;
  color: fuchsia;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: medium;
  width: 100px;
  letter-spacing: 3px;
  font-weight: 700;
  
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btn {
  width: 20px;
}

:not(hr) {
  border: unset;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.btn-reserve i {
  font-size: 20px;
  color: #6ab04c;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "font awesome 5 free";
}

.fas {
  -webkit-font-smoothing: antialised;
  display: inline-block;
  font-size: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.contact-details a {
  display: block;
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  /* color: #ededed */
}

a {
  text-decoration: none;
}

/* .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999999;
  overflow: hidden;
} */

 /* @media (max-width:991px) */
/* .btn-scroll {
  right: 15px;
}

.btn-show {
  bottom: 30px;
  opacity: 1;
}

.btn-scroll {
  position: fixed;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: #6ab04c;
  cursor: pointer;
  z-index: 999;
  border-radius: 0;
  transition: 1s var(--transition-style);
}

.respond-message {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: #eee;
  z-index: 1002;
  font-weight: 600;
  border-radius: 10px;
}

.btn-reserve {
  position: fixed;
  left: 30px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  background-color: #6ab04c;
  border: 2px solid #f368e0;
}

.btn-reserve i {
  font-size: 20px;
  color: #ff00dd;
}

.reservation {
  display: block;
  position: fixed;
  width: 500px;
  max-width: 100%;
  background-color: #f99cc6;
  z-index: 1001;
  overflow: auto;
  max-height: 100vh;
  top: 0;
  left: -500px;
  transition: var(--main-color) var(--transition-style);
}
  .conatiner{
    padding: 0 15px;
    margin: 0 auto;
  } */
/* .footer {
  width: 100%;
  background-color: #121212;
} */

/* @media (min-width: 768px) */
/* .container {
  width: 750px;
}

.footer.field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 3opx;
  padding-bottom: 20px;
  color: #ededed;
} */

/* @media(max-width: 991px) */
/* .footer .field>div.opening-details {
  order: 1;
} */

/* .footer .field>div {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

div {
  display: block;
}

.footer .field>div.opening-details {
  order: 2;
}

.footer .field>div {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.footer .field h3 {
  position: relative;
  font-size: 25px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer .contact-details address,
.footer .contact-details a {
  display: block;
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  color: #ededed;
}

.footer .contact-details address::before,
.footer .contact-details a::before {
  font-family: Font Awesome 5 Free;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: translateY(-50%);
  color: #f99cc6;
} */

/* .footer .quick-links ul li {
  padding: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-block-end: 0px;
  font-weight: bold;
}

.footer .field {
  color: #ededed;
}

.footer .field h3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-left: 10px solid #f99cc6;
}

.footer .quick-links ul {
  padding-top: 10px;
}

ul {
  list-style: none;
}

.footer .quick-links ul li a {
  position: relative;
  color: #ededed;
  font-weight: 700;
  transition: var(--main-time) var(--transition-style);
}

.footer .footer>div.subscribtion {
  order: 2 !important;
}

.footer .field>div {
  margin-left: 20px;
}

.footer .field>div {
  flex-basis: 100% !important;
}

.footer .subscribtion p {
  margin-bottom: 10px;
} */

/* .footer .subscribtion form>div {
  position: relative;
}

.footer .subscribtion form input[type="email"] {
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  color: #000;
  border-radius: 20px;
  background-color: #eee;
}

input,
input:focus,
textarea,
textarea:focus {
  outline: none;
}

.footer .subscribtion form input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 25px;
  font-weight: 600;
  background-color: #f99cc6;
  cursor: pointer;
}
form{
  display: block;
}
.footer .subscribtion ul{
display: flex;
align-items: center;
justify-content: flex-start;
}
.footer .subscribtion ul li{
  margin: 5px 10px;
}
.footer .subscribtion ul li a{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  color: #f99cc6 var(--main-color);
  border-radius: 50%;
} */
/* .footer .subscribtion ul li a i{
  font-size: 20px;
  font-weight: 400;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer p.copy{
  color: #fff;
  width: 90px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  border-top: 1px solid #cacaca;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer p.copy span{
  color: #f99cc6 var(--main-color);
  font-weight: 600;
}
.footer{
  background-color: #000;
}
.home {
  width: 100%;
  height: 625px;
  max-height: 100vh;
}
:root {
  --main-color: #f99cc6;
  --sec-color-1: #ff00dd;
  --sec-color-2: #f368e0;
  --sec-color-3: #6ab04c;
}
:root {
  --main-time: .5s;
  --transition-style: ease-in-out;
}
.tns-outer{
padding: 0 !important;
}
.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}
#tns1{
  font-size: 0px;
} */
/* .tns-horizontal.tns-subpixel{
  white-space: nowrap;
}
tns-gallery{
  position: relative;
  left: 0;
  min-height: 1px;
}
.tns-slider{
  transition: all 0s;
}
#tns1 > .tns-item{
  width: calc(100%);
  transition-duration: 1s;
  animation-duration: 1s;
}
#tns1 > .tns-item{
  font-size: 16px;
}
.tns-horizontal.tns-subpixel>.tns-item{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.tns-gallery>.tns-item{
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}
.tns-slider> .tns-item{
  box-sizing: border-box;
}
.home-slider{
  height: 625px;
  max-height: 100vh;
}
.tns-normal .tns-fadeOut{
  opacity: 0;
  z-index: -1;
}
.home-slider > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.home-slider > div.content{
width: 100%;
overflow: hidden;
}
.home-slider > div.content{
  color: #fff;
  background-color: hsla(0, 0%, 0%, 0.5%);
}
.home-slider > div.content{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  transform: scaleY(0) translate(-50%, -50%);
  transform-origin: top center;
  transition: var(--main-time) var(--transition-style);
 transition-delay: .5s;
} */


.footer .field .opening-details a.foot-Logo {
  display: block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
  /* color: var(--main-color); */
  letter-spacing: 2px;

  width: fit-content;
}

.don {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--main-color);
  font-size: 45px;
  /* letter-spacing:1px;  */
}

a {
  text-decoration: none;
}

:root {
  --main-color: #f99cc6;
  --sec-color-1: #ff00dd;
  --sec-color-2: #f368e0;
  --sec-color-3: #6ab04c;
}


/* para css */

.nt {
  font-weight: 600;
}

.footer .field .opening-details p.opening-time {
  font-weight: 600;
  line-height: 1.8;
}

.ot {
  font-weight: 600;
  line-height: 1.8;
}



/* css subs */
.btn {
  width: 25px;

}

/* .footer .field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #ededed; 
} */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 991px) {
  .footer .field>div.opening-details {
    order: 1;
  }
}

@media (max-width: 767px) {
  .footer .field>div.opening-details {
    order: 1 !important;
  }
}

@media (max-width: 991px) {
  .footer .field>div {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer .field>div {
    flex-basis: 100% !important;
    margin-bottom: 20px;
  }
}

.sub {
  position: relative;
  font-size: 25px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer .subscribtion p {
  margin-bottom: 10px;
}

.subp {
  margin-bottom: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 15px;

}

.footer .subscribtion form input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 25px;
  font-weight: 600;
  background-color: var(--main-color);
  cursor: pointer;
}

.send {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--main-color);
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 900;
  color: black;
  font-size: smaller;
  border-color: #f99cc6;
  letter-spacing: 3px;
  margin-left: 15px;
}


ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px
}

.li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fb-fa {
  font-size: larger;
  margin: 15px;
  color: #f99cc6;
}

.tw-fa {
  margin: 15px;
  font-size: larger;
  color: #f99cc6;
}

.ins-fa {
  margin: 15px;
  font-size: larger;
  color: #f99cc6;
}

.pt-fa {
  font-size: larger;
  margin: 15px;
  color: #f99cc6;
}

.footer .contact-details a {
  display: block;
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  /* color: #ededed; */
}

.mail {
  color: #ededed;

}

.phone {
  color: #ededed;

}

.fa-solid {
  color: #f99cc6;
  font-size: 20px;
}

.contact-details h3 {
  font-size: 25px;
}

.quick-links {
  font-size: medium;
  font-weight: 600;
}

.quick-links h3 {
  font-size: 25px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* scrolldown .btn */

 /* .btn-scroll i.first-arrow {
  top: 0;
  left: 0;
}

.btn-scroll i {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--sec-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-time) var(--transition-style);
}

.fa,
.fas {
  font-weight: 900;
}

.fas {
  -webkit-font-smoothing: antialised;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.btn-reserve i {
  font-size: 20px;
  color: var(--sec-color-1);
}

.reservation {
  display: block;
  position: fixed;
  width: 500px;
  max-width: 100%;
  background-color: var(--main-color);
  z-index: 1001;
  overflow: auto;
  max-height: 100vh;
  top: 0;
  left: -500px;
  transition: var(--main-time) var(--transition-style);
}

.head-scroll {
  height: unset;
  height: 60px !important;
}

header {
  background-color: #fcfcfc;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  transition: all .5s;
  height: 70px;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.preloader .loader {
  position: relative;
  width: 100px;
  height: 100px;
  border: 0 solid #f99cc6;
  border-top-color: #6ab04c;
  border-radius: 50%;
  animation: loader 2s alternate linear infinite;
}

.respond-message {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: #eee;
  z-index: 1002;
  font-weight: 600;
  border-radius: 10px;
}

.btn-reserve {
  position: fixed;
  left: 30px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  background-color: var(--sec-color-3);
  border: 2px solid var(--sec-color-2);
  border-radius: 50%;
}

.btn-reserve i {
  font-size: 20px;
  color: var(--sec-color-1);
}

.fa-arrow-up:before {
  content: "\f062";
}

button {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
}

@media (max-width: 991px) {
  .btn-scroll {
    right: 15px;
  }
}

.btn-show {
  bottom: 30px;
  opacity: 1;
}

.btn-scroll {
  position: fixed;
  bottom: 100%;
  right: 30px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: var(--sec-color-3);
  cursor: pointer;
  z-index: 999;
  border-radius: 0;
  opacity: 0;
  transition: 1s var(--transition-style);
}

.btn-scroll i.first-arrow {
  top: 0;
  left: 0;
}

.btn-scroll i {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--sec-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-time) var(--transition-style);
}  */
.map{
  visibility: visible;
    animation-delay: 0.5s;
     animation-name: slideInRight;
     border-radius: 100%;

    }
.form{
  background-color: white;
}
.name{
  background-color: #ededed;
}
.lname{
  background-color: #ededed;
}
.email{
  background-color: #ededed;
}
#subject{
  background-color: #ededed;
  font-family: inherit;
}
.email-space{
  width: fit-content;
  margin-left: 15px;
}
.review{
  margin-left: 15px;
}
.contact-details{
  margin-left: 15px;

}